<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header>
      <form action="/sessions?_method=DELETE" method="POST">
        <input class="waves-effect waves-light btn" type="submit" value="Log Out">
      </form>
    </header>
    <button type="button" onclick="window.location.href='/app/new'">New Note</button>

    <% for (let i = 0; i < notes.length; i++) { %>
      <div class="note">
        <form action="/app/<%=notes[i].id%>?_method=DELETE" method="POST">
          <input type="submit" value="X">
        </form>
        <button type="button" onclick="window.location.href='/app/<%=notes[i].id%>/edit'">EDIT</button>
        <span>
          <a href="/app/<%=notes[i].id;%>"><h3><%=notes[i].title%></h3></a>
          <% let date = notes[i].publishDate; %>
          <p><%=date.toDateString()%></p>
        </span>
        <% let string = notes[i].content; %>
        <% let array = string.split(" ", 3); %>
        <% let final = array.join(" "); %>
        <p><%=final + '...'%></p>
      </div>
    <% } %>

  </body>
</html>
